
  /* code（新增）：较长代码块 */
.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: rgb(184, 184, 184);
}
.md-typeset .code > .admonition-title,
.md-typeset .code > summary {
  background-color:rgba(184, 184, 184, 0.1);
}
.md-typeset .code > .admonition-title::before,
.md-typeset .code > summary::before {
  background-color: rgb(184, 184, 184);
  -webkit-mask-image: var(--md-admonition-icon--code);
          mask-image: var(--md-admonition-icon--code);
}

/* recommend（新增）：推荐内容 */
.md-typeset .admonition.recommend,
.md-typeset details.recommend {
  border-color: rgba(54, 238, 167, 0.618);
}
.md-typeset .recommend > .admonition-title,
.md-typeset .recommend > summary {
  background-color: rgba(54, 238, 168, 0.1);
}
.md-typeset .recommend > .admonition-title::before,
.md-typeset .recommend > summary::before {
  background-color: rgba(54,238,168,0.618);
  -webkit-mask-image: var(--md-admonition-icon--recommend);
          mask-image: var(--md-admonition-icon--recommend);
}
  